@import url("components/thumbnail.css");

:root {
	--bar-height: 24px;
}

#files-container {
	display: grid;
	grid-template-columns:
		repeat(auto-fill, var(--thumbnail-size));
	grid-template-rows:
		var(--thumbnail-size)
		var(--thumbnail-size);
	grid-gap: 0;
	width: 100%;
	height: calc(100vh - var(--bar-height));
	justify-content: space-around;
	overflow-x: hidden;
	overflow-y: auto;
}
