:root {
	--bar-height: 24px;
}

#files {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100vw;
	align-items: flex-start;
	align-content: flex-start;
	overflow: hidden;
	margin-top: var(--bar-height);
}

#files-container {
	display: grid;
	grid-template-columns:
		repeat(auto-fill, var(--thumbnail-size));
	grid-template-rows: var(--thumbnail-size);
	grid-gap: 0;
	width: 100%;
	justify-content: space-around;
	user-select: none;
}

body {
	overflow-y: auto;
}
