:root {
	--bar-height: 24px;
}

#files {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100vw;
	height: 100vh;
	align-items: flex-start;
	align-content: flex-start;
	overflow: hidden;
}

#files-container {
	display: grid;
	grid-template-columns:
		repeat(auto-fill, var(--thumbnail-size));
	grid-template-rows:
		var(--thumbnail-size)
		var(--thumbnail-size);
	grid-gap: 0;
	width: 100%;
	height: calc(100vh - var(--bar-height));
	justify-content: space-around;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
}
