:root {
	--input-text-color: #ccc;
}

.input-group {
	display: flex;
	margin: 10px 0 0 20px;
	gap: 5px;
}

.input-label {
	width: 70%;
	color: var(--input-text-color);
}

.input-value {
	width: 20%;
}

.input-heading {
	color: var(--input-text-color);
	font-weight: bold;
	font-size: larger;
	margin-top: 20px;
}

.input-heading:first-child {
	margin-top: 0;
}

.input-description {
	color: var(--input-text-color);
	margin-left: 20px;
	font-size: 11px;
}

.tab-container {
    display: flex;
    gap: 2px;
}

.tab-item {
    border: 1px solid #999;
    border-bottom: none;
    padding: 5px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    background: #222;
    color: #999;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
}

.tab-item.selected {
	border: 1px solid #ccc;
    border-bottom: none;
	background: #333;
    color: #ccc;
}